<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "footer.html" . }}

    {{ $header := resources.Get "js/header.js" | minify }}
    {{ $relax := resources.Get "js/relax.js" | minify }}
    {{ $contact := resources.Get "js/contact.js" | minify }}
    {{ $js := slice $header $relax $contact | resources.Concat "js/bundle.js" }}
    <script src="{{ $js.Permalink }}"></script>
  </body>
</html>