@import 'variables';
@import 'extends';
@import 'mixins';
@import 'reset';
@import 'fonts';

.main {
  @extend %full-width;
  @extend %margin-horizontal-center;

  min-height: calc(100vh - 140px);
  overflow: hidden;
  padding: 4rem 0 0;

  .main__contact {
    background-color: $bg;
  }
  
  .main__section {
    @extend %content-center;
    @extend %flex;
    @extend %full-width;
    @extend %items-center;

    background-color: $bg;

    &.main__section--hero {
      @extend %relative;

      background-image: url('/img/map.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 50vh;
      overflow: hidden;
    }

    &.main__section--mobile {
      background-color: hsl(0, 0%, 97%);
    }

    &.main__section--desktop {
      background: rgb(255,255,255);
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4995040252429097) 0%);
      background-blend-mode: overlay;
    }
  }

  .section__inner {
    @extend %full-width;

    max-width: 71.25rem;
  }
}

.header,
.footer {
  @extend %full-width;
  @extend %grid;
  @extend %items-center;

  grid-gap: 1rem;
  grid-template-columns: 1fr minmax(300px, 71.25rem) 1fr; // minmax(1rem, 1fr)
  grid-template-rows: minmax(50px, 1fr);
  min-height: 70px;
  padding: 10px 0;
}

.header__inner,
.footer__inner {
  @extend %full-width;
  @extend %grid;
  @extend %items-center;

  grid-column: 2/3;
  grid-column-gap: 1rem;
  min-height: 50px;
  max-width: 71.25rem;
}

.header__home-link,
.footer__copyright {
  grid-column: 1/2;
}

.header__nav,
.footer__nav {
  @extend %content-space-between;
  @extend %flex;
  @extend %items-center;
  @extend %just-self-end;

  @include transition(all);

  grid-column: 2/3;
  min-width: 530px;

  @include media-query-max(760px) {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    min-width: 100%;
  }
}

.header__link,
.footer__link {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  text-transform: uppercase;

  @include media-query-max(760px) {
    margin: 1rem 0.5rem;
  }
}

.header {
  @extend %fixed;

  background-color: $bg;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  &.fade {
    box-shadow: $shadow;
  }

  .header__inner {
    grid-template-columns: minmax(180px, 1fr) min-content;
  }

  .header__home-link {
    @extend %content-space-between;
    @extend %flex;
    @extend %items-center;
    @extend %just-self-start;
    @extend %no-decoration;

    color: $font;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 180px;
  }

  .header__logo {
    height: 50px;
    width: 50px;
  }

  .header__name {
    color: $brand;
  }

  .header__hamburger {
    @extend %flex-column;
    @extend %items-center;
    @extend %just-self-end;
    @extend %none;

    cursor: pointer;
    grid-column: 2/3;
    height: auto;
    justify-self: end;
    margin: 0;
    user-select: none;
    width: 40px;
    z-index: 20;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    @include media-query-max(760px) {
      display: flex;
    }
  }

  .hamburger__item {
    @extend %relative;

    @include transition(all);

    background-color: $font;
    border-radius: 5px;
    height: 3px;
    margin: 3px 0;
    max-height: 3px;
    min-height: 3px;
    width: 30px;
  }

  #header__toggle {
    @extend %none;

    &:checked + .header__hamburger .hamburger__item--top {
      margin-top: 10px;
      transform: rotate(-45deg);
    }
  
    &:checked + .header__hamburger .hamburger__item--meat {
      margin-top: -6px;
      transform: rotate(45deg);
    }
  
    &:checked + .header__hamburger .hamburger__item--bottom {
      transform: scale(0);
    }

    &:checked ~ .header__nav {
      height: 219px;
      padding: 1rem 0;
    }
  }

  [type="checkbox"]:not(:checked) + label .expanded-text {
    @extend %none;
  }
  
  [type="checkbox"]:not(:checked) + label .collapsed-text {
    @extend %inline;
  }

  .header__nav {
    @include media-query-max(760px) {
      flex-direction: column;
      height: 0;
      overflow: hidden;
    }
  }

  .header__link {
    @extend %link-hover;

    color: $font;
    font-size: 0.95rem;
    font-weight: bold;

    &.current:before {
      @extend %full-width;
    }
  }
}

.footer {
  background-color: hsl(0, 0%, 97%);

  .footer__inner {
    grid-template-columns: minmax(305px, 1fr) min-content;
  }

  .footer__copyright {
    @include media-query-max(760px) {
      justify-self: center;
    }
  }

  .footer__nav {
    @extend %flex-wrap;
  }

  .footer__link {
    color: $font;

    &:hover {
      color: $brand;
    }
  }
}

.desktop__background {
  @extend %fixed;
  @extend %content-center;
  @extend %flex;
  @extend %full-width;
  @extend %items-center;

  height: 90vh;
  left: 0;
  max-height: 100vh;
  min-height: 800px;
  overflow: hidden;
  right: 0;
  top: 50vh;
  z-index: -1;

  .background__img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }
}

.main__hero {
  @extend %content-center;
  @extend %flex;
  @extend %flex-column;
  @extend %items-flex-start;
  @extend %relative;

  min-height: calc(100vh - 4rem);
  overflow-y: hidden;
  padding: 2.25rem 2rem 0;
  z-index: 5;

  .hero__title,
  .hero__subtitle,
  .hero__copy,
  .hero__stores {
    @extend %full-width;

    margin: 0 auto 0 0;
    max-width: 635px;
  }

  .hero__title {
    color: $brand;
    font-size: 4.5rem;
  }

  .hero__subtitle {
    font-size: 3.5rem;
    font-weight: lighter;
    margin-top: 1rem;
  }

  .hero__copy {
    font-size: 17px;
  }

  .hero__stores {
    @extend %content-flex-start;
    @extend %flex;
    @extend %flex-wrap;
    @extend %items-center;

    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
  }

  .stores__item {
    @include transition(height);

    height: 65px;
    margin: 0.4rem;

    @include media-query-max(700px) {
      height: 45px;
    }
  }

  .stores__img {
    @include transition(height);

    height: 65px;
    width: auto;

    @include media-query-max(700px) {
      height: 45px;
    }
  }

  .stores__button {
    @extend %content-space-around;
    @extend %flex;
    @extend %items-center;
    @extend %no-decoration;

    @include transition(all);

    background-color: #000;
    border-radius: 9px;
    height: 65px;
    padding: 1rem;
    width: 180px;
    
    @include media-query-max(700px) {
      height: 45px;
      width: 160px;
    }
  }

  .stores__icon {
    height: 22px;
    width: 23px;
  }

  .stores__copy {
    color: $bg;
    font-size: 1.2rem;
  }

}


@keyframes bounceInRight {
  0%, 60%, 75%, 90%,to {
    animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }

  0% {
    opacity: 0;
    transform: translate3d(3000px,0,0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px,0,0);
  }

  75% {
    transform: translate3d(10px,0,0);
  }

  90% {
    transform: translate3d(-5px,0,0);
  }

  to {
    transform: translateZ(0);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;

  @media (prefers-reduced-motion:reduce),(print) {
    animation-duration: 1ms!important;
    animation-iteration-count: 1!important;
    transition-duration: 1ms!important;
  }
}

.hero__side-graphic {
  @extend %absolute;

  @include transition(all);

  animation-name: bounceInRight;
  height: 100vh;
  min-height: 615px;
  right: -300px;
  top: 6.25rem;
  width: 60vw;

  @include media-query-max(1025px) {
    height: 38rem;
    top: 1.5rem;
    width: 38rem;
  }
}
