.header {
  @extend %content-space-between;
  @extend %flex;
  @extend %full-width;
  @extend %items-center;

  margin-bottom: 5.95rem;
  max-width: 45rem;
  padding: 0.65rem;

  .header__logo {
    height: auto;
    width: 3.45em;
  }

  .header__brand {
    @extend %content-flex-start;
    @extend %flex;
    @extend %flex-column;
    @extend %items-flex-end;

    color: $brand;
    font-family: 'Merriweather' serif;
  }

  .header__title {
    font-size: 3.85em;
    font-weight: normal;
    margin: 0;
  }

  .header__subtext {
    font-size: 1em;
  }
}