// Reset
a,
article,
blockquote,
body,
code,
div,
em,
figcaption,
figure,
h1,
h2,
h3,
hr,
html,
iframe,
img,
label,
nav,
p,
pre,
section,
small,
span,
strong,
summary,
sup,
time,
video {
  border: 0;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  @include transition(font-size);

  box-sizing: border-box;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;

  @include media-query-max(600px) {
    font-size: 90%;
  }
}

body {
  @extend %relative;

  background: $bg url('img/pleroma-background.jpg') no-repeat;
  background-size: cover;
  color: $font;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  padding: 190px 0 130px;
  
  @include media-query-max(600px) {
    padding: 30vw 0 25vw;
  }
}

a,
a:active,
a:hover,
a:visited,
hr {
  color: $brand;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

footer,
header,
main {
  @extend %full-width;
  @extend %margin-horizontal-center;

  padding: 0;
}

blockquote {
  border-left: 1px solid $brand;
  padding-left: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin: 1rem 0.5rem;
}

h1 {
  font-size: 3.85em;
  line-height: 4.25rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.9rem;
}

img,
svg,
video {
  @extend %full-width;

  height: auto;
}

li {
  margin: 0.25rem 0;
}

p {
  margin: 1rem;
}

[hidden],
.hidden {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}