{{ define "main" }}
  <main class="main main--home">
    {{ $bgwebp := resources.Get "img/desktop-bg.webp" }}
    {{ $bgimg := resources.Get "img/desktop-bg.jpg" }}
    <picture class="img__wrap desktop__background" aria-hidden="true">
      <source srcset="{{ $bgwebp.Permalink }}" type="image/webp">
      <source srcset="{{ $bgimg.Permalink }}" type="image/jpg">
      <img src="{{ $bgimg.Permalink }}" alt="People laughing during sunset" class="background__img"/>
    </picture>
    <section class="main__section main__section--hero">
      <div class="section__inner main__hero">
        <h1 class="hero__title">{{ .Site.Title }}</h1>
        <p class="hero__copy">Pleroma is a free, federated social networking server built on open protocols. It is compatible with GNU Social, Mastodon, and many other ActivityPub and OStatus implementations. For more information, please see the project homepage at: <a href="https://pleroma.social/" target="_blank" rel="noreferrer nofollow">Pleroma.social</a>.</p>
        <h2 class="hero__subtitle">Roma Apps</h2>
        <p class="hero__copy">Our Roma Apps for iOS, Android, and Desktop are designed to run seamlessly with your Pleroma instances.</p>
        <ul class="hero__stores">
          <li class="stores__item">
            {{ $app := resources.Get "img/app-store.png" }}
            <img src="{{ $app.Permalink }}" alt="Apple App Store" class="stores__img" />
          </li>
          <li class="stores__item">
            {{ $play := resources.Get "img/play-store.png" }}
            <img src="{{ $play.Permalink }}" alt="Google Play Store" class="stores__img" />
          </li>
          <li class="stores__item">
            <a href='{{ "#desktop" | relURL }}' class="button stores__button">
              {{ $desk := resources.Get "img/desktop-icon.svg" | minify }}
              <img src="{{ $desk.Permalink }}" aria-hidden="true" class="stores__icon" />
              <p class="stores__copy">Desktop App</p>
            </a>
          </li>
        </ul>
      </div>
      {{ $webp := resources.Get "img/hero-phone.webp" }}
      {{ $img := resources.Get "img/hero-phone.png" }}
      <picture class="img__wrap animated hero__side-graphic">
        <source srcset="{{ $webp.Permalink }}" type="image/webp">
        <source srcset="{{ $img.Permalink }}" type="image/png">
        <img src="{{ $img.RelPermalink }}" alt="Smartphone with Pleroma logo on screen." class="hero__side-img"/>
      </picture>
    </section>
    <section id="mobile" class="main__section main__section--mobile">
      <div class="section__inner main__mobile">
        <h2 class="mobile__title">About the Roma Apps</h2>
        <ul class="mobile__info">
          <li class="info__item">
            {{ $img := resources.Get "img/accounts.svg" | minify }}
            <img src="{{ $img.Permalink }}" alt="Multiple Account Support" class="item__icon"/>
            <h3 class="item__title">Multiple Account Support</h3>
            <p class="item__description">Switch between your accounts and instances with a single click.</p>
          </li>
          <li class="info__item">
            {{ $img := resources.Get "img/posts.svg" | minify }}
            <img src="{{ $img.Permalink }}" alt="Scheduled Posts" class="item__icon"/>
            <h3 class="item__title">Scheduled Posts</h3>
            <p class="item__description">You can even schedule your posts ahead of time!</p>
          </li>
          <li class="info__item">
            {{ $img := resources.Get "img/notifications.svg" | minify }}
            <img src="{{ $img.Permalink }}" alt="Push Notifications" class="item__icon"/>
            <h3 class="item__title">Push Notifications</h3>
            <p class="item__description">Enable instant push notifications using our lightning fast push servers.</p>
          </li>
          <li class="info__item">
            {{ $img := resources.Get "img/updates.svg" | minify }}
            <img src="{{ $img.Permalink }}" alt="Amazing Updates" class="item__icon"/>
            <h3 class="item__title">Amazing Updates</h3>
            <p class="item__description">All our Apps are being updated and made better every single day!</p>
          </li>
          {{ $webp := resources.Get "img/phone.webp" }}
          {{ $img := resources.Get "img/phone.jpg" }}
          <li class="info__graphic">
            <picture class="img__wrap">
              <source srcset="{{ $webp.Permalink }}" type="image/webp">
              <source srcset="{{ $img.Permalink }}" type="image/jpg">
              <img src="{{ $img.RelPermalink }}" alt="Pleroma on mobile." class="info__img"/>
            </picture>
          </li>
        </ul>
      </div>
    </section>
    <section id="desktop" class="main__section main__section--desktop">
      <div class="section__inner main__desktop">
        <h2 class="desktop__title">Roma Desktop App</h2>
        <p class="desktop__description">The Roma Desktop Application allows you to stay connected without opening a web browser. It features notifications, real time updates, useful shortcuts, and more!</p>
        <ul class="desktop__downloads">
          <li class="downloads__item">
            <a href="https://github.com/roma-apps/roma-desktop/releases/download/v1.2.2/Roma-1.2.2-darwin-x64.dmg" rel="noreferrer nofollow" class="button downloads__button downloads__button--mac">
              {{ $img := resources.Get "img/apple.png" }}
              <img src="{{ $img.Permalink }}" aria-hidden="true" class="button__icon"/>
              <p class="button__description">Download for Mac</p>
            </a>
          </li>
          <li class="downloads__item">
            <a href="https://github.com/roma-apps/roma-desktop/releases/download/v1.2.2/Roma-1.2.2-windows-x64.exe" rel="noreferrer nofollow" class="button downloads__button downloads__button--windows">
             {{ $img := resources.Get "img/windows.png" }}
              <img src="{{ $img.Permalink }}" aria-hidden="true" class="button__icon"/>
              <p class="button__description">Download for Windows</p>
            </a>
          </li>
          <li class="downloads__item">
            <a href="https://github.com/roma-apps/roma-desktop/releases/tag/v1.2.2" rel="noreferrer nofollow" class="button downloads__button downloads__button--linux">
              <p class="button__description">Download for Linux and other OS</p>
            </a>
          </li>
        </ul>
        {{ $sswebp := resources.Get "img/desktop.webp" }}
        {{ $ssimg := resources.Get "img/desktop.jpg" }}
        <picture class="img__wrap desktop__screenshot">
          <source srcset="{{ $sswebp.Permalink }}" type="image/webp">
          <source srcset="{{ $ssimg.Permalink }}" type="image/jpg">
          <img src="{{ $ssimg.RelPermalink }}" alt="Pleroma on Desktop screenshot." class="desktop__screenshot"/>
        </picture>
      </div>
    </section>
    <section id="contact" class="main__section">
      <div class="section__inner main__contact">
        <h2 class="contact__title">Have questions?</h2>
        <form class="contact__form" name="Contact" netlify-honeypot="bot-field" action="/success/" netlify>
          <div aria-hidden="true" class="honey__hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field"/></label>
          </div>
          <div class="form__group group--first">
            <label for="first-name" class="contact__label">First Name</label>
            <input name="first name" type="text" id="first-name" class="contact__input" required/>
          </div>
          <div class="form__group group--last">
            <label for="last-name" class="contact__label">Last Name</label>
            <input name="last name" type="text" id="last-name" class="contact__input" required/>
          </div>
          <div class="form__group form__group--full group--email">
            <label for="email" class="contact__label">Email Address</label>
            <input name="email" type="email" id="email" class="contact__input" required/>
          </div>
          <div class="form__group form__group--full group--subject">
            <label for="subject" class="contact__label">Subject</label>
            <input name="subject" type="text" id="subject" class="contact__input" required/>
          </div>
          <div class="form__group form__group--full group--message">
            <label for="message" class="contact__label">Message</label>
            <textarea name="message" id="message" class="contact__input contact__input--textarea" required></textarea>
          </div>
          <button class="button contact__button disabled">Submit</button>
        </form>
      </div>
    </section>
  </main>
{{ end }}
