{{ define "main" }}
  <main class="main main--home">
    <section class="main__section">
      <p>Pleroma is a free, federated social networking server built on open protocols. It is compatible with <a href="https://gnu.io/social/" target="_blank" rel="noreferrer noopener">GNU Social</a>, <a href="https://joinmastodon.org/" target="_blank" rel="noreferrer noopener">Mastodon</a>, and many other ActivityPub and OStatus implementations.</p>
      <p>The project consists of several components: <a href="https://git.pleroma.social/pleroma/pleroma" target="_blank" rel="noreferrer noopener">Pleroma</a> is the server implementation, and comes bundled with <a href="https://git.pleroma.social/pleroma/pleroma-fe" target="_blank" rel="noreferrer noopener">PleromaFE</a>, the default frontend. Other useful utilities are also provided, such as an <a href="https://git.pleroma.social/pleroma/relay" target="_blank" rel="noreferrer noopener">ActivityPub relay</a>.</p>
      <p>For a friendly introduction to Pleroma and the Fediverse, read <a href="https://blog.soykaf.com/post/what-is-pleroma/" target="_blank" rel="noreferrer noopener">What is Pleroma?</a></p>
    </section>
    <section class="main__section">
      <h2>Pleroma-FE</h2>
      <p>Pleroma-FE is the single column user interface bundled with Pleroma.</p>
      <ul>
        <li>Detailed theme system</li>
        <li>NSFW attachment hiding</li>
        <li>Keyword filtering</li>
        <li>Your own custom emoji!</li>
        <li>Standalone, can be run in parallel with other interfaces</li>
        <li>The best and latest in conversation view technology</li>
      </ul>
    </section>
    <section class="main__section">
      <h2>Pleroma</h2>
      <ul>
        <li>High-performance</li>
        <li>Light memory usage</li>
        <li>Simple to deploy</li>
        <li>Runs on a Raspberry Pi</li>
        <li>Speaks ActivityPub and OStatus protocols</li>
        <li>Provides Twitter API and Mastodon API</li>
      </ul>
    </section>
    <section class="main__section">
      <h2>Technical Stuff</h2>
      <p>Our latest release is <a href="https://git.pleroma.social/pleroma/pleroma/tags/v0.9.9" target="_blank" rel="noreferrer noopener">v0.9.9</a>. Read about it at <a href="https://blog.soykaf.com/post/pleroma-release-0.9.9/" target="_blank" rel="noreferrer noopener">"Pleroma's First Release"</a>.</p>
      <p>Pleroma source code and bug tracker are located at the <a href="https://git.pleroma.social/pleroma/pleroma/" target="_blank" rel="noreferrer noopener">project GitLab</a>.</p>
      <p>The backend is built with <a href="https://elixir-lang.org/" target="_blank" rel="noreferrer noopener">Exlixer</a> and <a href="http://www.phoenixframework.org/" target="_blank" rel="noreferrer noopener">Phoenix</a>, using <a href="https://www.postgresql.org/" target="_blank" rel="noreferrer noopener">PostgreSQL</a> as the database.</p>
      <p>PleromaFE is written in javascript with <a href="https://vuejs.org/" target="_blank" rel="noreferrer noopener">Vue.js</a>.</p>
      <p>All Pleroma components are free software.</p>
    </section>
    <section class="main__section">
      <h2>Other Helpful Resources</h2>
      <ul>
        <li><a href="http://distsn.org/pleroma-instances.html" target="_blank" rel="noreferrer noopener">List of Pleroma instances</a></li>
        <li><a href="irc://chat.freenode.net:6697/#pleroma" target="_blank" rel="noreferrer noopener">#pleroma</a> and <a href="irc://chat.freenode.net:6697/#pleroma-dev" target="_blank" rel="noreferrer noopener">#pleroma-dev</a> IRC channels on <a href="https://freenode.net/" target="_blank" rel="noreferrer noopener">freenode</a></li>
      </ul>
    </section>
  </main>
{{ end }}